name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build docker image
    runs-on: ubuntu-latest
    outputs:
      NOMINATIM_VERSION: ${{ steps.get_version.outputs.NOMINATIM_VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract Nominatim Version
        id: get_version
        run: echo "NOMINATIM_VERSION=$(grep -oP '(?<=ARG NOMINATIM_VERSION=)[0-9.]+' Dockerfile)" >> $GITHUB_OUTPUT

      - name: Build and export image
        uses: docker/build-push-action@v5
        with:
          context: .
          tags: nominatim:${{ steps.get_version.outputs.NOMINATIM_VERSION }}
          outputs: type=docker,dest=/tmp/nominatim.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: nominatim-${{ steps.get_version.outputs.NOMINATIM_VERSION }}
          path: /tmp/nominatim.tar

  publish:
    name: Publish docker image
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract Nominatim Version
        id: get_version
        run: |
          echo "NOMINATIM_VERSION=$(grep -oP '(?<=ARG NOMINATIM_VERSION=)[0-9.]+' Dockerfile)" >> $GITHUB_OUTPUT
          echo "NOMINATIM_VERSION_MINOR=$(grep -oP '(?<=ARG NOMINATIM_VERSION=)[0-9]+\.[0-9]+' Dockerfile)" >> $GITHUB_OUTPUT

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/nominatim
          flavor: |
            latest=false
          tags: |
            type=raw,value=${{ steps.get_version.outputs.NOMINATIM_VERSION }}
            type=raw,value=${{ steps.get_version.outputs.NOMINATIM_VERSION }}-{{date 'YYYY-MM-DDTHH-mm'}}
            type=raw,value=${{ steps.get_version.outputs.NOMINATIM_VERSION_MINOR }}
            type=raw,value=${{ steps.get_version.outputs.NOMINATIM_VERSION_MINOR }}-{{date 'YYYY-MM-DDTHH-mm'}}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push to GHCR
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
